---
layout: default
title: Главная
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 content-panel main">
            <div class="gradient">

                <!--<div class="gravatar">
                    <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
                </div>-->

                <h1 class="header site-name" itemprop="headline">
                    <span class="logo8250"><i class="fas fa-chevron-right"></i><!-- &#8250;--></span> 
                    <span id="write-site-name"></span>
                </h1>

                <div class="author-text" id="write-site-desc">
                    {{ site.title_description }}
                </div>
                

                <!-- typed -->
                <script src="{{ site.baseurl }}/js/typed.min.js"></script>
                <script>

                    var typed = new Typed('#write-site-name', {  
                        strings: [
                            'Project'
                        ],
                        typeSpeed: 130,
                        cursorChar: '_'
                    });

                </script>

                {% include social_links.html %}
            </div>
        </div>

        <div class="col-md-12 content-panel">

            <div class="articles">

              <h2>Последние публикации</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{% include date_ru_locale.html date=post.date %}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">ещё...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
