<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My first Vue app</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app" :title="'done by ' + author">
        <ul>
            <li v-for="(item, index) in list">index {{index}}: {{item}}</li>
        </ul>
        <table border="1" @click="users[5].id = users[5].id + 1">
            <thead>
                <th>Id</th>
                <th>Имя</th>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>
                        {{user.id}}
                    </td>
                    <td>
                        {{user.name}}
                    </td>
                </tr> 
            </tbody>
        </table>
        <button @click="high">Counter равен: {{counter}}</button>
    </div> 
 
    <script> 
        var app = new Vue({
            el: '#app',
            data: {
                author: 'Roma Klimov',
                list: ['один', 'два', 'три'],
                users: [
                    { id: 1, name: 'Иван' },
                    { id: 2, name: 'Сергей' },
                    { id: 1, name: 'Иван' },
                    { id: 3, name: 'Сергей' },
                    { id: 1, name: 'Сергей' },
                    { id: 73, name: 'Сергей' },
                    { id: 1, name: 'Иван' },
                ],
               counter: 1
            },
           created: function() {
               this.counter = 3;
               this.high();
           },
            methods: {
                nameFunction() {
                    alert('func1');
                },
                nameFunc2: function() { 
                    alert('func2');
                },
               high() {
                   this.counter++;
               }
            }
        })
    </script>
</body>


</html>